body{

margin:0;

font-family:Arial;

}

.login{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#0f172a;

}

.login-box{

background:white;

padding:40px;

width:350px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.login-box input{

width:100%;

padding:12px;

margin:10px 0;

font-size:16px;

}

.login-box button{

width:100%;

padding:12px;

background:#2563eb;

color:white;

border:none;

cursor:pointer;

font-size:18px;

}